.contact{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.contact-container{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
}
.contact-left{
    max-width: 60%;
    font-size: 20px;
    text-align: center;
}
.download{
    background-color: aquamarine;
    padding: 8px 16px;
    font-size: 24px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.download a{
    text-decoration: none;
    color: black;
}
.download-icon{
    margin-right: 15px;
}
@media only screen and (max-width: 720px) {
    .contact-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-left{
        max-width: 100%;
        font-size: 16px;
        margin-bottom: 12px;
    }
    .download{
        font-size: 16px;
    }
    .download-icon{
        margin-right: 5px;
    }
}